/taxajuros/bin
/taxajuros/obj
/taxajuros.teste.unidade/bin
/taxajuros.teste.unidade/obj
/calculajuros/bin
/calculajuros/obj
/calculajuros.teste.unidade/bin
/calculajuros.teste.unidade/obj
/taxajuros/.vscode
/calculajuros/.vscode
.vs/softplan-desafio/DesignTimeBuild/.dtbcache.v2
.vs/softplan-desafio/v16/.suo