/taxajuros/bin
/taxajuros/obj
/taxajuros.teste.unidade/bin
/taxajuros.teste.unidade/obj
/taxajuros.teste.integracao/bin
/taxajuros.teste.integracao/obj
/calculajuros/bin
/calculajuros/obj
/calculajuros.teste.unidade/bin
/calculajuros.teste.unidade/obj
/calculajuros.teste.integracao/bin
/calculajuros.teste.integracao/obj
/taxajuros/.vscode
/calculajuros/.vscode
.vs/